PAYLOAD_SECRET=c1d8f5ddbf748dd8f5926bced9c8e5
# DATABASE_URL=file:./evoq-payload.db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/eftmraindianew_cms
NEXT_PUBLIC_SERVER_URL=https://dev.socialdnalabs.com/devtest/eftmraindia_dev/cms
PAYLOAD_CORS_ORIGINS=http://localhost:3000,https://dev.socialdnalabs.com/devtest/eftmraindia_dev/cms
PAYLOAD_CSRF_ORIGINS=http://localhost:3000,https://dev.socialdnalabs.com/devtest/eftmraindia_dev/cms
CMS_ADMIN_EMAIL=pm@socialdnalabs.com
CMS_ADMIN_PASSWORD=Sdl@123456
CMS_ADMIN_NAME=EFTMRA Admin
CMS_SEED_MEDIA_IMPORT=true
CMS_MEDIA_DIR=media
ADMIN_ROLE=admin