PAYLOAD_SECRET=c1d8f5ddbf748dd8f5926bced9c8e5
# DATABASE_URL=file:./evoq-payload.db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/eftmraindianew_cms
NEXT_PUBLIC_SERVER_URL=http://localhost:3001
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
PAYLOAD_CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002
PAYLOAD_CSRF_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002
CMS_ADMIN_EMAIL=pm@socialdnalabs.com
CMS_ADMIN_PASSWORD=Sdl@123456
CMS_ADMIN_NAME=EFTMRA Admin
RESEND_API_KEY=
EMAIL_FROM_ADDRESS=hello@eftmraindia.com
EMAIL_FROM_NAME=EFTMRA India
EFTMRA_INDIA_EMAIL=hello@eftmraindia.com
CMS_SEED_MEDIA_IMPORT=true
CMS_MEDIA_DIR=media
ADMIN_ROLE=admin
